<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item.Visibility</key>
	<dict>
		<key>Combined</key>
		<dict>
			<key>state</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Notifications.State</key>
	<dict>
		<key>status</key>
		<integer>1</integer>
		<key>style</key>
		<integer>1</integer>
	</dict>
	<key>Zarya-TLE</key>
	<dict>
		<key>time</key>
		<real>1773793509.194777</real>
		<key>tle</key>
		<string>ISS (ZARYA)             
1 25544U 98067A   26076.38694946  .00012661  00000+0  24296-3 0  9991
2 25544  51.6338  34.3055 0006232 201.4845 158.5882 15.48344038557526</string>
	</dict>
</dict>
</plist>
