<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Combined</key>
	<dict>
		<key>Menu</key>
		<dict>
			<key>Items</key>
			<array>
				<string>time-cities</string>
				<string>memory-overview</string>
				<string>cpu-cpu</string>
				<string>disks-physical</string>
				<string>network-bandwidth</string>
				<string>sensors-overview</string>
				<string>battery-combined</string>
			</array>
		</dict>
		<key>Menubar</key>
		<dict>
			<key>Items</key>
			<array/>
		</dict>
	</dict>
	<key>Device</key>
	<dict>
		<key>Auth-Identifier</key>
		<string>1370193A-FDF7-42C8-8060-247196378D0C</string>
		<key>Device</key>
		<string>9e43d9ce6c38818750365ec494aad8f6920340ec</string>
		<key>Model</key>
		<string>Mac16,8</string>
	</dict>
	<key>License</key>
	<dict>
		<key>License</key>
		<string>dawn-noel-earl-eddy-6337-7</string>
		<key>Validation</key>
		<dict>
			<key>hashversion</key>
			<string>3</string>
			<key>license</key>
			<string>dawn-noel-earl-eddy-6337-7</string>
			<key>signature</key>
			<string>MIGIAkIBxFTX6OHBfjgFWkD7EGcDxS1QIlmqXHtRGlQq4hiv/BvylkychhHqjEB/2R2wl23O6Mx2S5Z19WKflYm+IyS+hrgCQgHnL50Kxf/B4HFjKipmmFgs7cXaQWkCNypav5TXsqn8NEtTmpaL1+5Bz7uVEydkSVxZlZSuwOnTAPfI+QvYvJKwzg==</string>
			<key>time</key>
			<string>1773272738</string>
		</dict>
	</dict>
	<key>Menu</key>
	<dict>
		<key>Theme</key>
		<dict>
			<key>Dark</key>
			<string>dark</string>
		</dict>
	</dict>
	<key>Menubar</key>
	<dict>
		<key>Global</key>
		<dict>
			<key>ReducePadding</key>
			<integer>0</integer>
		</dict>
		<key>Style</key>
		<integer>1</integer>
		<key>Theme</key>
		<dict>
			<key>Dark</key>
			<string>graphite</string>
		</dict>
	</dict>
	<key>MenubarCurrentApperance</key>
	<string>Dark</string>
	<key>Migration</key>
	<dict>
		<key>CombinedPowerItems</key>
		<true/>
		<key>Profiles</key>
		<true/>
	</dict>
	<key>Notifications</key>
	<dict>
		<key>Items</key>
		<array>
			<dict>
				<key>enabled</key>
				<integer>1</integer>
				<key>source</key>
				<string>battery-low</string>
				<key>type</key>
				<string>alert</string>
				<key>uuid</key>
				<string>4e1abe18-f00e-4f2f-9a69-1ee6d04643f4</string>
			</dict>
			<dict>
				<key>enabled</key>
				<integer>1</integer>
				<key>source</key>
				<string>daylightsaving</string>
				<key>time</key>
				<integer>0</integer>
				<key>type</key>
				<string>alert</string>
				<key>uuid</key>
				<string>7ad71b8c-c416-49c9-a5bc-41f76628c118</string>
			</dict>
			<dict>
				<key>enabled</key>
				<integer>1</integer>
				<key>item</key>
				<dict>
					<key>key</key>
					<string>any</string>
				</dict>
				<key>source</key>
				<string>temperature</string>
				<key>time</key>
				<string>30</string>
				<key>type</key>
				<string>banner</string>
				<key>uuid</key>
				<string>3e5ac3eb-5a05-4b12-82fe-a51860e5851d</string>
				<key>value</key>
				<string>95</string>
			</dict>
		</array>
	</dict>
	<key>Profiles</key>
	<dict>
		<key>Available</key>
		<dict>
			<key>identifier</key>
			<string>default</string>
		</dict>
		<key>Settings</key>
		<dict>
			<key>default</key>
			<dict>
				<key>Battery</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>CPU</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Combined</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>1</integer>
						<key>Items</key>
						<array>
							<dict>
								<key>source</key>
								<integer>3</integer>
								<key>subtype</key>
								<integer>3</integer>
								<key>type</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>source</key>
								<integer>15</integer>
								<key>useroptions</key>
								<dict>
									<key>width</key>
									<integer>4</integer>
								</dict>
							</dict>
							<dict>
								<key>source</key>
								<integer>1</integer>
								<key>subtype</key>
								<integer>3</integer>
								<key>type</key>
								<integer>4</integer>
							</dict>
							<dict>
								<key>source</key>
								<integer>15</integer>
								<key>useroptions</key>
								<dict>
									<key>width</key>
									<integer>4</integer>
								</dict>
							</dict>
							<dict>
								<key>source</key>
								<integer>21</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>Disks</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Memory</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Network</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Sensors</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Time</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Weather</key>
				<dict>
					<key>Menubar</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Status</key>
	<dict>
		<key>Build</key>
		<dict>
			<key>Last</key>
			<real>2268</real>
		</dict>
		<key>Version</key>
		<dict>
			<key>Last</key>
			<real>7.1999998092651367</real>
		</dict>
	</dict>
	<key>UpdateFrequency</key>
	<integer>0</integer>
</dict>
</plist>
